<html>
<head>
<title>添加文章</title>
<meta name="keyword" content="add article"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="CSS_AA.css">
</head>
<body  >
<h1>添加文章</h1>
<form action="../controler/textcontroler.php" id="fff" method="POST">

<font>请输入标题</font></br></br>
<div id=textfield>
<input type="text" name="title" id=addtitle maxlength="55">
</div>
</br>
</br>
<font>请输入文本</font>
</br>
</br>
<textarea name="content" rows="20" cols="150">
</textarea>
</br>
</br>
<input type="submit" value="Submit">
</form>
</body>
</html>