<head>
<link rel=\"stylesheet\" type=\"text/css\" href=\"css_comm.css\" />
<meta http-equiv=\"Content-Type\" content=\"text/html;charset=utf-8\"/>
</head>
<form action=\"../test/test.php\" method=\"POST\">
<font>姓名</font>
<input type=\"text\" name=\"username\" class='form-control '>
</br>
<font>邮箱</font>
<input type=\"text\" name=\"email\" class='form-control '>
</br>
<font>评论内容</font>
<textarea name=\"comment\" rows=\"20\" cols=\"10\" class='form-control '>
</textarea>
</br>
</br>
<input type=\"submit\" value=\"Submit\">
</form>
